<body>
  <h2><%= @title %></h2>

  <form class="add_form" action="/sessions" method="post">
  <div class="">
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="">
    <input type="text" name="password" placeholder="Password">
  </div>
  <div class="">
    <input type="submit" value="Sign in">
  </div>
  </form>
</body>
